/* Loader.css */
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  
  .dot-flashing {
    position: relative;
    width: 12px;
    height: 12px;
    background: #00f5d4;
    border-radius: 6px;
    animation: dotFlashing 1s infinite linear alternate;
  }
  
  @keyframes dotFlashing {
    0% { background-color: #00f5d4; }
    50%, 100% { background-color: #0e0e0e; }
  }
  